@charset "utf-8";

/* reset */
* {margin:0; padding:0;}
a {text-decoration : none; color:inherit;}

/* layout */
.wrap{width:100%;overflow:hidden;}
.contents {width:1280px;  margin:50px auto; overflow: hidden;}
                            /*바깥여백 상하=50, 좌우는 자동  */

/* left */
/*부모요소에 relative*/

.contents .left {width : 55%;  float:left; position:relative;} /*float를 통해 아래 요소를 옆으로*/
.contents .left p.img {width:100%;}
.contents .left p.img img{width : 100%; border-radius: 20px; overflow:hidden;} 
/*모서리 둥글게 : border_radius , 부모요소에서 넘치는 부분을 감추기 위해 : overflow:hidden */
.contents .left p.s_img {width: 228px; border-radius:20px; overflow: hidden; position:absolute; right:-50px; bottom:30px;}
                                                                    /* 자식 요소에 absolute */
.contents .left p.s_img img{width:100%;}


/* right */
.contents .right {width : 45%;  float:right; padding: 100px 0 0 100px; box-sizing: border-box;} /*위:100px, 오른쪽:0 , 아래쪽:0, 왼쪽:100px*/
.contents .right .num{font-size: 20px; font-weight: bold; margin-bottom: 50px;}
.contents .right .num span {color: #0078c0; margin-right: 5px;}
.contents .right .txt{font-size: 36px; font-weight : normal; margin-bottom:5px; letter-spacing: -2px;}
                                                                                /* 글자의 간격: letter-spacing  */
.contents .right .title{color: #0078c0; font-size: 52px; font-weight: bold; letter-spacing: -2px; margin-bottom: 40px;}
.contents .right .hashTag{color: #bbb; font-size: 14px; margin-bottom: 2px;}
.contents .right .btn{color: #0078c0;}
.contents .right .btn b{font-weight: bold; font-size: 20px;}
.contents .right .btn span{margin-left: 20px;}